.quantity-to-add__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quantity-to-add__text {
    color: var(--text-tertiary-color);
}

.quantity-control__wrapper {
    display: flex;
    align-items: center;

    /* Input field, Form, Text area/background */
    background: #FAFAFA;
    /* Border/primary */
    border: 1px solid #E6E6E6;
    border-radius: 6px;

    max-width: fit-content;

    color: var(--text-secondary-color);
}

.quantity-control__wrapper button[disabled] {
    color: var(--text-disabled-color);
    cursor: not-allowed;
}

.quantity-control__amount {
    background: none;
    border: none;
    outline: none;
    width: 49px;
    text-align: center;
}

.quantity-control__amount:focus {
    background: #E6E6E6;
}

/* Remove standart number input arrows */
/* Firefox */
.quantity-control__amount {
    -moz-appearance: textfield;
}
  
/* Chrome, Safari, Edge, Opera */
.quantity-control__amount::-webkit-outer-spin-button,
.quantity-control__amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-insufficient-stock{ 
    position: relative;
}

.btn-insufficient-stock:hover .control-btn::before {
    content: "Insufficient stock";
    text-wrap: nowrap;

    position: absolute;
    padding: 8px 12px;

    /* Background/primary-inverted */
    background: #0A0A0A;
    border-radius: 8px;

    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    /* Text/primary-invert */
    color: #FFFFFF;
}

.btn-insufficient-stock:hover .control-btn::after {
    content: "";

    position: absolute;
    width: 10px;
    height: 10px;

    /* Background/primary-inverted */
    background: #0A0A0A;

    bottom: 29px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.control-btn {
    padding: 3px 11px;
    border: none;
    background: none;
}

.control-btn:hover {
    background: #E6E6E6;
}

.control-btn:focus {
    background: #E6E6E6;
    outline: none;
}
