.text-5xl {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
}

.page-wrapper {
  /* Linear Page */
  background: linear-gradient(147.52deg, #F9FAFB 8.89%, #D2D6DB 100.48%);

  max-width: 100vw;
  min-height: 100vh;

  padding: 16px;

  display: flex;
  align-items: stretch;
  justify-content: center;
}

.content-wrapper {
  /* Background/primary */
  background: #FFFFFF;
  /* shadow / shadow-lg */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  width: 100%;

  padding: 96px;
}
